@font-face {
  font-family: "Nunito";
  src: url("assets/fonts/Nunito/Nunito-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Nunito-Bold";
  src: url("assets/fonts/Nunito/Nunito-SemiBold.ttf");
  font-style: normal;
}
