@import ".../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";

$path-taxi: "../../../assets/images/taxi-moto.png";
$path-shopping: "../../../assets/images/shopping-flux.png";

$img: (
 (taxi-moto $path-taxi),
 (shopping-flux $path-shopping)
);

@each $site, $color in $img {
  .#{$site} {
    @include size(100%, 255px);
    background-size: 100%;

  }
}
.card {
  min-height: 700px;

  //screen phone; Padding: top, bottom;
  @media (max-width: 768px) {
    min-height: 500px;
  }

  a {
    display: block;
    padding: 15px 0;
    @include transition(color .5s linear);

    &:hover {
      color: red;
      @include transition(color .5s linear);
    }

    h1 {
      text-align: center;
    }
  }

  img {
    width: 100%;
    box-shadow: 3px 5px 6px 2px #c0c0c0;
  }

  ul {
    text-align: left;

    // li {
    //   padding: 5px 20px;
    // }
  }
}
