<!-- (window:resize)="onResize($event)" -->
<div id="presentation">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="text-center">{{ title }}</h1>
          <p class="text-test">Lorem ipsum dolor sit amet,
            consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <h1>test1</h1>
          <h2>test2</h2>
          <h3>test3</h3>
        </div>
      </div>
    </div>
    <div class="box-logo">
      <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
          <img class="logo" [src]="log"  alt="Photo de oim" />
        </div>
      </div>
    </div>

    <!-- <div class="columns" >
      <button (click)="toggleMove()">Press me for animation</button>
    </div>
    <div class="columns">
      <div id="content" [@focusPanel]='state' [@movePanel]='state'>Look at me animate</div>
    </div>

    <div (mouseenter) ="mouseEnter('div a') " [@hoverPanel]='state1'  (mouseleave) ="mouseLeave('div A')">
      <h2>Div A</h2>
    </div>
    <div (mouseenter) ="mouseEnter('div b')"  (mouseleave) ="mouseLeave('div B')">
      <h2>Div B</h2>
    </div> -->
  </section>
</div>
