<!-- (window:resize)="onResize($event)" -->
<div id="presentation">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="box-card">
            <div class="sheet"></div>
            <div class="card">
              <h1 class="text-center">{{ titlePresentation }}</h1>
              <h3 class="text-center">{{ textPresentation }}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box-logo"></div>
  </section>
</div>
