<!-- (window:resize)="onResize($event)" -->
<div id="presentation">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="text-center">{{ title }}</h1>
          <p class="text-test">
            In Kazakhstan,
            it is illegal for more than five woman to be in the same place except for in brothel or in grave.
            In U.S. and A., many womens meet in a groups called feminists.
          </p>
          <p class="text-test">
            What's up with it,
            vanilla face? Me and my homie Azamat just parked our slab outside.
            We're looking for somewhere to post up our black asses for the night.
            So, uh, bang bang, skeet skeet, nigga. Just a couple of pimps, no hoes.
          </p>
          <h1>test1</h1>
          <h2>test2</h2>
          <h3>test3</h3>
        </div>
      </div>
    </div>
    <div class="box-logo">
      <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
          <img class="logo" [src]="log"  alt="Photo de oim" />
        </div>
      </div>
    </div>

    <!-- <div class="columns" >
      <button (click)="toggleMove()">Press me for animation</button>
    </div>
    <div class="columns">
      <div id="content" [@focusPanel]='state' [@movePanel]='state'>Look at me animate</div>
    </div>

    <div (mouseenter) ="mouseEnter('div a') " [@hoverPanel]='state1'  (mouseleave) ="mouseLeave('div A')">
      <h2>Div A</h2>
    </div>
    <div (mouseenter) ="mouseEnter('div b')"  (mouseleave) ="mouseLeave('div B')">
      <h2>Div B</h2>
    </div> -->
  </section>
</div>
