@import ".../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";

nav {
  box-shadow: 0px 1px 5px 1px #222;
  @include transition(padding .2s linear);

  img.logo {
    width: 100px;
  }

  li.selected {
    background-color: #098fc0;

    > a {
      color: #fff;
    }
  }
}

//screen tablet + desktop; text right;
@media (min-width: 768px) {
  .navbar-nav {
      float: right;
  }
}

//screen phone; Padding: top, bottom;
@media (max-width: 768px) {
  .navPadding {
    padding: 25px 0;
    @include transition(padding .2s linear);
  }
}
