nav {
  position: fixed;
  width: 100%;
  margin: 0;
  box-shadow: 0px 1px 5px 1px #e7e7e7;
  z-index: 5;

  img.logo {
    width: 100px;
  }

  li.selected {
    background-color: #098fc0;

    > a {
      color: #fff;
    }
  }
}

//screen tablet + desktop; text right;
@media (min-width: 768px) {
  .navbar-nav {
      float: right;
  }
}
